@model List<KWeb.Models.Compra>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Mis Facturas</h5>

        <div class="table-responsive">
            <table id="example" class="table text-nowrap align-middle mb-0">
                <thead>
                    <tr class="border-2 border-bottom border-primary border-0">
                        <th>#</th>
                        <th>Cliente</th>
                        <th>Total</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ConsecutivoMaestro</td>
                            <td>@item.NombreCliente</td>
                            <td>¢ @item.Total.ToString("N2")</td>
                            <td>@item.Fecha.ToString("dd/MM/yyyy hh:mm tt")</td>
                            <td>
                                <a class="btn" href="@Url.Action("ConsultarDetalles","Compras", new { q = item.ConsecutivoMaestro })"><i class="fa fa-eye" style="font-size: 1.4em;"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="~/Styles/js/jquery.min.js"></script>
<script src="~/Styles/FuncionesJS/ConsultarFacturas.js"></script>