@model KWeb.Models.Usuario

<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Actualizar Usuario</h5>

        @if (ViewBag.MensajePantalla != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                @ViewBag.MensajePantalla
            </div>
        }

        @using (Html.BeginForm("ActualizarUsuario", "Usuario"))
        {
            @Html.HiddenFor(m => m.Consecutivo)

            <div class="mb-3">
                <label class="form-label">Identificación</label>
                @Html.TextBoxFor(m => m.Identificacion, new { @class = "form-control" })
            </div>

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
            </div>

            <div class="mb-3">
                <label class="form-label">Correo Electrónico</label>
                @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control", @type = "email" })
            </div>

            <div class="mb-4">
                <label class="form-label">Rol</label>
                @Html.DropDownListFor(m => m.ConsecutivoRol, ViewBag.listaRoles as List<SelectListItem>, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Procesar</button>
        }

    </div>
</div>