@model List<KWeb.Models.Usuario>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Lista de Usuarios</h5>

        <div class="table-responsive">
            <table class="table text-nowrap align-middle mb-0">
                <thead>
                    <tr class="border-2 border-bottom border-primary border-0">
                        <th>#</th>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Consecutivo</td>
                            <td>@item.Identificacion</td>
                            <td>@item.Nombre</td>
                            <td>@item.CorreoElectronico</td>
                            <td>@item.NombreRol</td>
                            <td>@item.Estado</td>
                            <td>


                                <a href="@Url.Action("ActualizarUsuario","Usuario", new { q = item.Consecutivo })"><i class="fa fa-pencil-square-o" style="font-size: 1.4em;"></i></a>
                                <a href="@Url.Action("","")"><i class="fa fa-trash-o" style="font-size: 1.4em;"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>