@model List<KWeb.Models.Usuario>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Lista de Usuarios</h5>

        <div class="table-responsive">
            <table id="example" class="table text-nowrap align-middle mb-0">
                <thead>
                    <tr class="border-2 border-bottom border-primary border-0">
                        <th>#</th>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Consecutivo</td>
                            <td>@item.Identificacion</td>
                            <td>@item.Nombre</td>
                            <td>@item.CorreoElectronico</td>
                            <td>@item.NombreRol</td>
                            <td>@item.Estado</td>
                            <td>

                                <a class="btn" href="@Url.Action("ActualizarUsuario","Usuario", new { q = item.Consecutivo })"><i class="fa fa-pencil-square-o" style="font-size: 1.4em;"></i></a>

                                <button type="button" class="btn abrirModal" data-bs-toggle="modal" data-bs-target="#modalUsuarios"
                                        data-id="@item.Consecutivo"
                                        data-name="@item.Nombre">
                                    <i class="fa fa-trash-o" style="font-size: 1.4em;"></i>
                                </button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUsuarios" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("ActualizarEstadoUsuario", "Usuario"))
            {
                <div class="modal-body">
                    @Html.Hidden("Consecutivo", "")
                    ¿Desea cambiar el estado del usuario <label id="Nombre"></label>?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Procesar</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Styles/js/jquery.min.js"></script>
<script src="~/Styles/FuncionesJS/ConsultarUsuarios.js"></script>